.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.page-btn{
    background-color: blueviolet;
    color:beige;
    border-radius: 6px;
    padding:5px 10px;
    font-size:12px;
    font-weight: bold;
    margin:20px 2px;
    text-align: center;
}